# =========================
# Application
# =========================
APP_PORT=8080

# =========================
# Spring Security login
# =========================
APP_USERNAME=change_me
APP_PASSWORD=change_me_strong_password

# =========================
# PostgreSQL
# =========================
DB_URL=jdbc:postgresql://localhost:5432/medicaments_db
DB_USERNAME=postgres
DB_PASSWORD=change_me_db_password


