<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultation des prix des medicaments</title>
    <link rel="stylesheet" th:href="@{/css/medicament-search.css}" href="/css/medicament-search.css">
    <script defer th:src="@{/js/medicament-search.js}" src="/js/medicament-search.js"></script>
</head>
<body>
<main class="page">
    <th:block th:replace="~{medicaments/fragments/hero :: hero}"></th:block>
    <th:block th:replace="~{medicaments/fragments/search-form :: search-form}"></th:block>
    <th:block th:replace="~{medicaments/fragments/results-table :: results-table}"></th:block>
</main>
</body>
</html>
